<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-top">
        <div class="container">
            <a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Brand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsiveTop" aria-controls="navbarResponsiveTop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsiveTop">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'main_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store' %}">Store</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% block content %}
    <form action="{% url 'register' %}" method="post" role="form" class="registration-form">
        {% csrf_token %}

        <label for="{{ form.username.id_for_label }}">Name:</label>
        {{ form.username }}
        {{ form.username.errors }}

        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
        {{ form.email.errors }}

        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}

        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}

        <button type="submit">Register</button>
    </form>
{% endblock %}

