<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-top">
        <div class="container">
            <a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Brand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsiveTop" aria-controls="navbarResponsiveTop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsiveTop">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'main_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store' %}">Store</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% block content %}
    <form action="{% url 'register' %}" method="post" role="form" class="registration-form">
        {% csrf_token %}

        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Электронная почта:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="phone">Телефон:</label>
        <input type="tel" id="phone" name="phone" required><br><br>

        <label for="password1">Пароль:</label>
        <input type="password" id="password1" name="password1" required><br><br>

        <label for="password2">Подтверждение пароля:</label>
        <input type="password" id="password2" name="password2" required><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}